html, body {
  height: 100%;
  width: 100%;
  text-align: center;
 background-image: url(https://th.bing.com/th/id/OIP.KTq8gGQu-fkEmx-seY60YwHaE8?pid=ImgDet&rs=1);
  background-repeat:no-repeat;

  background-size:1500px 700px;
  

 
}
div{
  font-family: cursive;
  font-size:500%;
  padding: 2%
  
;
}
table{

  
font-size:500% 500%;
  width: 50%;
  
  
  paddung side:20;
  margin-left: auto;
  margin-right: auto;

  
}
tr{
  background-color: #7FDFE3;
  table:center;
  height: 50px;
}
